<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Training Project</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="{% static 'Fonts/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'Fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Css -->
    <link href="{% static 'Css/admin.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'Js/jquery.min.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

</head>
<body>
     <div class="container-box">
        <!-- Side Menu -->
        <aside class="aside-menu" id="menubx">
            <div class="logo-bx">
                <a href="/training/home/">Training</a>
            </div>
            <ul class="menu-group">
                <li class="employee-icon active">
                    <a href="#">Employees</a>
                </li>
                <li class="skill-icon">
                    <span data-toggle="slidemenu">Skill</span>
                    <ul class="submenu" data-role="submenu">
                        <li class="active">
                            <a href="#">Skills</a>
                        </li>
                        <li class="active">
                                <a href="#">Skills2</a>
                            </li>
                    </ul>
                </li>
                <li class="skill-icon">
                    <a href="#">Department </a>
                </li>
                <li class="training-icon">
                    <a href="#">Training Topic</a>
                </li>
                <li class="training-icon">
                    <a href="#">Logout</a>
                </li>
            </ul>
        </aside>
                <!-- Side Menu End -->

        {% block content %}
        {% endblock content %}

            <!-- contain-bx end -->

            <div class="footer-box">
                Copyright &copy; 2017
            </div>
            <!-- foter-box End -->
         </div>
</body>

    <script src="{% static 'Js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '[data-toggle="menu"]', function () {
                var thisc = $(this), ele = $(thisc).data('target'), fndtar = $(document).find(ele);
                $(thisc).addClass('open');
                $(fndtar).addClass('open');
                $('body').append('<div class="overlay"></div>')
            });
            $(document).on('click', '.overlay', function () {
                var thisd = $(this), fndtar = $(document).find('#menubx');
                $(fndtar).removeClass('open');
                $('body').find('.overlay').remove()
            });
            //slide Menu
            $(document).on('click', '[data-toggle="slidemenu"]', function () {
                var thisr = $(this), fndtar = $(document).find('[data-role="submenu"]');
                $(thisr).parent().toggleClass('active');
            });
        });
    </script>
{% block js %}
{% endblock js %}