{% extends 'base.html' %}
{% load static %}
{% block content %}


        <div class="content-bx">
            <div class="top-box">
                <div class="menu-responsive"><button class="menubtn" data-toggle="menu" data-target="#menubx"><i class="fa fa-bars"></i></button></div>

                <ul class="menu-list-top">
                    <li><img src="{% static 'Images/user.png' %}" class="img-user-pic" /></li>
                </ul>
            </div>
            <!-- top-box End -->

            <div class="contain-bx">
                <h3>Employees</h3>
                <div class="widget-box">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="fom-group col-sm-6">
                            <label>Search</label>
                            <input type="text" class="form-control limit-cntl-50" />
                        </div>

                        <div class="fom-group col-sm-6 text-right">
                            <label style="width: 100%;">Add a new Employee</label>
                            <a href="/training/add-user/" class="btn btn-info-cs">+ Add</a>
                        </div>
                    </div>

                    <table class="table tabel-custom">
                        <thead>
                            <tr>
                                <th>Emp Code</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Training Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                         {% for employee in employees %}
                            <tr>

                                <td data-label="Emp Code">{{employee.employee_code}}</td>
                                <td data-label="Name">{{employee.employee_name}}</td>
                                <td data-label="Email">{{employee.email}}</td>
                                <td data-label="Training Status"><span class="label label-success">Complete</span></td>
                                <td data-label="Action">
                                    <a href="{% url 'edit_profile' employee.pk %}"><button class="btn btn-info-cs btn-sm">Edit</button></a>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                    <button class="btn btn-info-cs btn-sm">View</button>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
{% endblock content %}
{% block js %}
{% endblock js %}