{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
        <div class="content-bx">
            <div class="top-box">
                <div class="menu-responsive"><button class="menubtn" data-toggle="menu" data-target="#menubx"><i class="fa fa-bars"></i></button></div>

                <ul class="menu-list-top">
                    <li><img src="Assets/Images/user.png" class="img-user-pic" /></li>
                </ul>
            </div>
            <!-- top-box End -->

            <div class="contain-bx">
                <h3>Skill Group</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="widget-box">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="colsm-12">
                                <div class="col-sm-12">
                                    <h4>Skill Group Details</h4>
                                    <hr />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Skill Group</label>
                                    {{ form.group_name|add_class:'form-control'}}
                                    <!--<input type="text" class="form-control" />-->
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <button class="btn btn-info-cs">Submit</button>
                            </div>
                        </div>
                    </div>


                </div>
                    </form>
            </div>
        </div>

{% endblock content %}
{% block js %}
{% endblock js %}