@import 'variables';
@import '_bootstrap';
body{
    font-family: $cfnt;
    margin: $marz;
    padding: $padz;
    font-size: 14px;
    background-color: $default-clr;
}
.overlay {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: 1000;
    cursor: pointer;
}
.user-avatar{
    width: 100%;
    display: block;
    position: relative;
    margin: 0px auto;
    max-width: 150px;
    border-radius: 5px;
    max-height: 150px;
}
.user-avatar-pic{
    max-width: 100px !important;
    @extend .user-avatar
}
.profiebx{
    background-color: #e2e2e2;
    margin-bottom: 15px;
}
.user-bx{
    margin-top: 50px;
}
.full-width{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
}
.container-box{
    width: 100%;
    display: block;
    position: relative;

    .aside-menu{
        display: block;
        position: fixed!important;
        z-index: 1030;
        float: left;
        background: #2e3648;
        width: 280px;
        height: 100%;
        left: 0px;
        top: 0px;
        @include transition(all 300ms ease-in-out);

        .logo-bx{
            display: block;
            position:  relative;
            background-color: $info-dark-clr;

            a{
                font-size: 18px;
                font-weight: 700;
                color: $white-clr;
                display: inline-block;
                width: 100%;
                padding: 20px;

                &:hover{
                    text-decoration: none;
                }
            }
            
        }

        .menu-group{
            list-style: none;
            display: block;
            position: relative;
            margin: $marz;
            padding: $padz;

            li{
                position: relative;
                display: block;
                color: #ffffff;
                background-color: transparent;
                @include transition(all 300ms ease-in-out);

                &.active,
                &:hover{
                    background-color: #454d6d;
                }

                a{
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    padding: 15px;
                    color: #ffffff;
                    @include transition(all 300ms ease-in-out);

                    &:hover{
                        text-decoration: none;
                        color: $white-clr;
                    }
                }
                span{
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    padding: 15px;
                    color: #ffffff;
                    cursor: pointer;
                    @include transition(all 300ms ease-in-out);

                    &:hover{
                        text-decoration: none;
                        color: $white-clr;
                    }

                    &::before{
                        font-family: 'FontAwesome';
                        position: absolute;
                        display: inline-block;
                        top: 50%;
                        right: 25px;
                        color: #ffffff;
                        content: '\f054';
                        margin-top: -9px;
                        transform: rotate(0deg);  
                        -webkit-transform: rotate(0deg);                           
                    }
                }
                &.active span::before{
                    transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);     
                }
                .submenu{
                    display: none;
                    position: relative;
                    background-color: #3a435d;
                    margin: $marz;
                    padding: $padz;
                    @include transition(all 300ms ease-in-out);

                    li{
                        background-color: #3a435d;
                        
                        a{
                            padding-left: 35px;
                        }
                        
                        &:hover{
                            background-color: #454d6d;
                        }
                    }
                }

                &.active .submenu{
                    display: block;
                    position: relative;
                    background-color: $info-clr;
                    @include transition(all 300ms ease-in-out);
                }
            }
        }
    }
    .footer-box{
        position: absolute;
        display: block;
        bottom: 0px;
        left: 280px;
        font-size: 12px;
        right: 0px;
        padding: 15px;
        color: #949494;
    }
    .content-bx{
        width: 100%;
        padding-left: 280px;
        position: relative;
        min-height: 100vh;

        .top-box{
            background-color: $info-clr;
            display: block;
            position: fixed;
            z-index: 1000;
            left: 280px;
            right: 0px;
            height: 65px;
            padding: 0px 15px;
            text-align: right;

            .menu-responsive{
                position: relative;
                margin: 10px 0px;
                padding: $padz;
                float: left;
                display: none;

                .menubtn{
                    display: inline-block;
                    position: relative;
                    background-color: $info-clr;
                    border: 1px solid transparent;
                    padding: 10px 15px;
                    color: $white-clr;
                    @include transition(all 300ms ease-in-out);

                    &:hover{
                        background-color: $info-dark-clr;
                    }
                }
            }

            .menu-list-top{
                list-style: none;
                display: inline-block;
                position: relative;

                li{
                    padding: 12px 5px;
                }
            }

            .img-user-pic {
                width: 100%;
                display: inline-block;
                position: relative;
                max-width: 40px;
            }
        }

        
    }

    .contain-bx{
        display: block;
        position: relative;
        padding: 0px 20px;
        padding-top: 85px;
        margin-bottom: 15px;
    }

    .widget-box{
        background-color: $white-clr;
        padding: 15px;
        position:  relative;
        display: block;
        border-radius: 3px;
        border: 1px solid #e2e2e2;
        margin-bottom: 20px;
    }

    table.tabel-custom{
        margin-bottom:  0px;
        border-bottom: 2px solid #B9B8B8;

        td{
            vertical-align: middle;
        }
    }
}
.image-prof{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin:  15px;
}
.uploder-group{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top:  20px;

    .file-uplode{
        position: absolute;
        z-index: 100;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        &:hover ~ button{
            background-color: $info-dark-clr;
        }
    }
}
.middle-bx{
    display: block;
    position: relative;
    max-width: 800px;
}
.form-control{
    border-radius: 1px;
    height: 45px;
}
.btn-info-cs{
    background-color: $info-clr;
    color: $white-clr;

    &:hover,
    &:active,
    &:focus{
        background-color: $info-dark-clr; 
        color: $white-clr;
    }
}
.limit-cntl-50{
    width:50%;
}

@media(max-width: $grid-m){
    .container-box{
        width: 100%;
        display: block;
        position: relative;

        .aside-menu{
            display: block;
            position: fixed!important;
            z-index: 1030;
            float: left;
            background: #2e3648;
            width: 280px;
            height: 100%;
            left: -100%;
            @include transition(all 300ms ease-in-out);

            &.open{
                left: 0px;
            }

        }
        
        .content-bx {
            width: 100%;
            padding-left: 0px;
            position: relative;
            min-height: 100vh;

            .top-box {
                background-color: #6887ff;
                display: block;
                position: fixed;
                z-index: 1000;
                left: 0px;
                right: 0px;
                height: 65px;
                padding: 0px 15px;
                text-align: right;

                .menu-responsive{
                    position: relative;
                    margin: 10px 0px;
                    padding: $padz;
                    float: left;
                    display: block;
                }
            }

            .footer-box{
                position: absolute;
                bottom: 0px;
                left: 0px;
                font-size: 12px;
                right: 0px;
                padding: 15px;
                color: #949494;
                display: none;
            }
        }

        table.tabel-custom {
            th{
                display: none;
            }

            td{
                display: block;
                
                &::before{
                    content: attr(data-label);
                    position: relative;
                    display: block;
                    font-weight: 700;
                }

                &:last-child{
                    border-bottom: 2px solid #ccc;
                }
            }
        }

        
    }
}

@media(max-width: $grid-sm){
    .user-bx{
        margin-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        display: block;
        position: relative;
    }
    .container-box{
        width: 100%;
        display: block;
        position: relative;

        .aside-menu{
            display: block;
            position: fixed!important;
            z-index: 1030;
            float: left;
            background: #2e3648;
            width: 240px;
            height: 100%;
            left: -100%;
            @include transition(all 300ms ease-in-out);

            &.open{
                left: 0px;
            }

        }
        
        .content-bx {
            width: 100%;
            padding-left: 0px;
            position: relative;
            min-height: 100vh;

            .top-box {
                background-color: #6887ff;
                display: block;
                position: fixed;
                z-index: 1000;
                left: 0px;
                right: 0px;
                height: 65px;
                padding: 0px 15px;
                text-align: right;

                .menu-responsive{
                    position: relative;
                    margin: 10px 0px;
                    padding: $padz;
                    float: left;
                    display: block;
                }
            }

        }

        .footer-box {
            position: relative;
            display: block;
            bottom: 0px;
            left: initial;
            font-size: 12px;
            right: 0px;
            padding: 15px;
            color: #949494;
        }
        
    }
}